{% extends 'base.html.twig' %}

{% block title %}Rechercher sur GeekBook !{% endblock %}

{% block body %}

<h1 class="text-center text-green-700 border-purple-200 rounded-lg shadow dark:bg-purple-800 dark:border-purple-700">Rechercher sur GeekBook</h1>

<div class="container m-20 dark:text-white dark:bg-gray-800">
<div class="flex flex-wrap">
    {% if searchQuery %}
        <h2 class="mb-4 display-6">
            🔍Contient {{ results|length }} article pour la recherche  "{{ searchQuery }}"
        </h2>
        
        {% for post in results %} 
            <article class="basis-1/4 my-3 {{ loop.index is odd ? 'bg-light' : '' }} py-4 px-2 rounded">
                <div class=" p-2 mt-96">
                <h4>
                    #{{ loop.index }}. <a href="{{ path('app_show_book', {slug: post.slug}) }}" class="text-decoration-none">
                        {{ post._formatted.title|raw }}
                    </a>
                </h4>
                    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                        {% for img in post.images %}
                            <a href="{{path('app_show_book', {'slug': post.slug })}}">
                                <img class="rounded-t-lg" src="{{img.url}}" alt="{{img.name}}" />
                            </a>
                        {% endfor %}
                        <div class="p-5 w-auto h-70">
                            <a href="{{path('app_show_book', {'slug': post.slug })}}">
                                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{post.introduction}}</h5>
                            </a>
                            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{post.description}}</p>
                            <a href="{{path('app_show_book', {'slug': post.slug })}}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                {{post.price|number_format(2, ',', '.')}} €
                                <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                            </a>
                        </div>
                    </div>
                </div>
            </article>
        {% else %}
            <p>There are no results for your query.</p>
            <div class="container">
            <div class="flex flex-wrap">
                <h1>Rechercher un article</h1>

                {{ form_start(searchForm) }}
                    {{ form_widget(searchForm, {
                        label: 'Search',
                        label_attr: {
                            class: "mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white"
                        },
                        attr: {
                            class: "block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500",
                            placeholder: "Vous cherchez un livre ?",
                            autofocus: true
                        }
                    }) }}
                {{ form_end(searchForm) }}
            </div>
        </div>
        {% endfor %}
        
        <p><a href="{{ path('app_search', {'fetch_last_query': true}) }}">Do another search</a></p>
    {% else %}
        <div class="container mb-3 mt-96">
            <h1>Rechercher un article</h1>
            <div class="mt-4 flex w-full items-stretch">
                {{ form_start(searchForm) }}
                <div class="relative flex">
                    {{ form_widget(searchForm, {'attr': {'class': 'pr-10 '}}) }}
                    <span class="absolute inset-y-0 left-40 flex items-center text-neutral-700 dark:text-neutral-200">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5">
                            <path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z" clip-rule="evenodd" />
                        </svg>
                    </span>
                </div>
                {{ form_end(searchForm) }}
            </div>
        </div>
    {% endif %}
    </div>
</div>
{% endblock %}

