{% extends 'base.html.twig' %}

{% block title %}Commande payée sur GeekBook !{% endblock %}

{% block body %}
<div class="bg-gray-100 dark:bg-gray-800 dark:text-white">
  <div class="body mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-2xl py-16 sm:py-24 lg:max-w-none lg:py-32">
      <div class="grid sm:px-10 lg:grid-cols-2 lg:px-20 xl:px-32">
      <h1>Référence : {{order.reference}}</h1>
       {% for img in order.books %}
            <a href="#">
                <img class="p-8 rounded-t-lg" src="{{img.firstCover}}" alt="product image" width="400"/>
            </a>
          {% endfor %}
      {% for details in order.orderDetails %}
        <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
         
            <div class="px-5 pb-5">
                <a href="#">
                    <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">{{details.productName}}</h5>
                </a>
                <div class="flex items-center mt-2.5 mb-5">
                  <span class="bg-blue-100 text-blue-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ml-3">Quantité : {{details.quantity}} / {{details.productPrice}} €</span>
                  <span class="bg-blue-100 text-blue-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ml-3">Transporteur : {{details.carrierPrice}} € avec {{details.carrierName}}</span>
                </div>
                <div class="flex items-center justify-between">
                    <span class="text-3xl font-bold text-gray-900 dark:text-white"></span>
                    <a href="#" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Total HT : {{details.productPrice|number_format(2, ',', '.')}} €</a>
                </div>
            </div>
        </div>
      {% endfor %}
      <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <a href="#">
                <img class="p-8 rounded-t-lg" src="{{order.users.avatar}}" alt="product image" />
            </a>
            <div class="px-5 pb-5">
                <a href="#">
                    <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">{{order.reference}}</h5>
                </a>
                <div class="flex items-center mt-2.5 mb-5">
                    <p>{{order.users.firstName}} {{order.users.lastName}}</p>
                    <p>{{order.users.email}} {{order.deliveryAddress}}</p>
                    <span class="bg-blue-100 text-blue-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ml-3">5.0</span>
                </div>
                <div class="flex items-center justify-between">
                    <p>{{order.carrierName}} - {{order.carrierPrice}} €</p>
                    <span class="text-3xl font-bold text-gray-900 dark:text-white">total HT : {{order.subTotalHT|number_format(2, ',', '.')}} €</span>
                    <a href="#" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">total TTC : {{order.subTotalTTC|number_format(2, ',', '.')}} €</a>
                </div>
            </div>
        </div>
      </div>
      <a href="{{path('app_account_pdf_order', {'stripeSessionId': order.stripeSessionId})}}" alt="" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
        Génération de facture en format PDF
      </a>
    </div>
  </div>
</div>
{% endblock %}
