{% extends 'base.html.twig' %}

{% block title %}Payement échoué sur GeekBook !{% endblock %}

{% block body %}
<div class="bg-gray-100 dark:bg-gray-800 dark:text-white">
    <div class="body mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="mx-auto max-w-2xl py-16 sm:py-24 lg:max-w-none lg:py-32">
            <div class="grid sm:px-10 lg:grid-cols-2 lg:px-20 xl:px-32">
                <section>
                    <h1>{{order.users.firstName}} {{order.users.lastName}}, le payement a échoué !!</h1>
                    <p>La commande avec la référence : {{order.reference}} a été annulée</p>
                    <p><a href="{{path('app_order_recap')}}">Retourner à la commande</a></p>
                </section>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script src="{{asset('build/app.js')}}"></script>
{% endblock %}