{% extends 'base.html.twig' %}

{% block title %}Récapitulatif de la commande GeekBook !{% endblock %}

{% block body %}
{# <div class="bg-gray-100 dark:bg-gray-800 dark:text-white">
    <div class="body mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="mx-auto max-w-2xl py-16 sm:py-24 lg:max-w-none lg:py-32">

            <div class="grid sm:px-10 lg:grid-cols-2 lg:px-20 xl:px-32">
                    {% if app.session.get('cartData') is defined %}
                <div class="px-4 pt-8">

                        <p class="text-xl font-medium">Résumer commande</p>
                        <p class="text-gray-400">Vérifier vos articles</p>
                        {% for cart in basket.products %} 
                        <div class="mt-8 space-y-3 rounded-lg border bg-white px-2 py-4 sm:px-6">
                            <div class="flex flex-col rounded-lg bg-white sm:flex-row">
                                {% for img in cart.book.images|slice(0,1) %}
                                    <img class="m-2 h-24 w-28 rounded-md border object-cover object-center" src="{{img.url}}" alt="{{cart.book.title}}" />
                                {% endfor %}
                                <div class="flex w-full flex-col px-4 py-4">
                                    <span class="font-semibold">{{cart.book.title}}</span>
                                    <span class="float-right text-gray-400">Qte : {{cart.quantity}}</span>
                                    <p class="text-lg font-bold">{{app.session.get('cartData').data.subTotalHT|number_format(2, ',', '.')}} €<p>
                                </div>
                            </div>
                            <div class="flex flex-col rounded-lg bg-white sm:flex-row">
                                <div class="m-2 h-24 w-28" src="" alt=""></div>
                                <div class="flex w-full flex-col px-4 py-4">
                                    <span class="font-semibold"></span>
                                    <span class="float-right text-gray-400"></span>
                                    <p class="mt-auto text-lg">{{cart.book.description}}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                        <h2 class="">le panier est vide</h2>
                    {% endif %}
                    </div>
                    <div class="mt-10 bg-gray-50 px-4 pt-8 lg:mt-0">
                        <p class="text-xl font-medium">Adresse & Transporteur</p>
                        <p class="text-gray-400">Vos choix d'adresse et de transport</p>
                        <div class="">
                            <label for="email" class="mt-4 mb-2 block text-sm font-medium">Adresse choisi</label>
                            <div class="relative">
                                {{address|replace({'[eol]' : '<br/>'})|raw}}
                            </div>
                            <label for="card-holder" class="mt-4 mb-2 block text-sm font-medium">Transporteur</label>
                            <div class="relative">
                                {{carrier|replace({'[eol]' : '<br/>'})|raw}}
                            </div>
                            <label for="card-no" class="mt-4 mb-2 block text-sm font-medium">Information</label>
                            <div class="flex">
                                <div class="relative w-7/12 flex-shrink-0">
                                {% if informations %}
                                    {{informations|replace({'[eol]' : '<br/>'})|raw}}
                                {% endif %}
                                </div>
                               
                            </div>
                        </div>

                                
                           
                        <!-- Total -->
                        <div class="mt-6 border-t border-b py-2">
                            <div class="flex items-center justify-between">
                                <p class="text-sm font-medium text-gray-900">Prix HT</p>
                                <p class="font-semibold text-gray-900">{{basket.data.subTotalHT|number_format(2, ',', '.')}} €</p>
                            </div>
                            <div class="flex items-center justify-between">
                                <p class="text-sm font-medium text-gray-900">Prix du transporteur : {{carrier.name}}</p>
                                <p class="font-semibold text-gray-900">{{ carrier.price|number_format(2, ',', '.') }} €</p>
                            </div>
                            <div class="flex items-center justify-between">
                                <p class="text-sm font-medium text-gray-900">Taxe</p>
                                <p class="font-semibold text-gray-900">{{ basket.data.taxe|number_format(2, ',', '.') }} €</p>
                            </div>
                        </div>
                        <div class="mt-6 flex items-center justify-between">
                            <p class="text-sm font-medium text-gray-900">Total</p>
                            <p class="text-2xl font-semibold text-gray-900">{{ basket.data.subTotalTTC + carrier.price }} €</p>
                        </div>
                        <form action="{{ path('app_stripe_checkout', {'reference': reference }) }}" method="POST">
                            <button type="submit" id="checkout-button" class="Payer mt-4 mb-8 w-full block text-center rounded-md bg-gray-900 px-6 py-3 font-medium text-white">
                                Payer
                            </button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div> #}
         {% if app.session.get('cartData') is defined %}
        <div class="py-96 px-4 md:px-6 2xl:px-20 2xl:container 2xl:mx-auto">
            {% for cart in basket.products %}
            <div class="flex justify-start item-start space-y-2 flex-col ">
                <h1 class="text-3xl lg:text-4xl font-semibold leading-7 lg:leading-9  text-gray-800">Commande #{{reference}}</h1>
                <p class="text-base font-medium leading-6 text-gray-600">A date du : <strong>{{cart.book}}</strong></p>
            </div>
            <div class="mt-10 flex flex-col xl:flex-row jusitfy-center items-stretch  w-full xl:space-x-8 space-y-4 md:space-y-6 xl:space-y-0">
                <div class="flex flex-col justify-start items-start w-full space-y-4 md:space-y-6 xl:space-y-8">
                    <div class="flex flex-col justify-start items-start bg-gray-50 px-4 py-4 md:py-6 md:p-6 xl:p-8 w-full">
                        <p class="text-lg md:text-xl font-semibold leading-6 xl:leading-5 text-gray-800">Panier du client</p>
                        <div class="mt-4 md:mt-6 flex  flex-col md:flex-row justify-start items-start md:items-center md:space-x-6 xl:space-x-8 w-full ">
                            <div class="pb-4 md:pb-8 w-full md:w-40">
                                {% for img in cart.book.images|slice(0,1) %}
                                    <img class="m-2 h-24 w-28 rounded-md border object-cover object-center" src="{{img.url}}" alt="{{cart.book.title}}" />
                                {% endfor %}
                            </div>
                            <div class="border-b border-gray-200 md:flex-row flex-col flex justify-between items-start w-full  pb-8 space-y-4 md:space-y-0">
                                <div class="w-full flex flex-col justify-start items-start space-y-8">
                                    <h3 class="text-xl xl:text-2xl font-semibold leading-6 text-gray-800">{{cart.book.title}}</h3>
                                    <div class="flex justify-start items-start flex-col space-y-2">
                                        <p class="text-sm leading-none text-gray-800">
                                            <span class="text-gray-300">Style: </span> Italic Minimal Design
                                        </p>
                                        <p class="text-sm leading-none text-gray-800">
                                            <span class="text-gray-300">Size: </span> Small
                                        </p>
                                        <p class="text-sm leading-none text-gray-800">
                                            <span class="text-gray-300">Color: </span> Light Blue
                                        </p>
                                    </div>
                                </div>
                                <div class="flex justify-between space-x-8 items-start w-full">
                                    <p class="text-base xl:text-lg leading-6">
                                        {{cart.book.price}} €<span class="text-red-300 line-through"> {{cart.book.price + 20 }} €</span>
                                    </p>
                                    <p class="text-base xl:text-lg leading-6 text-gray-800">{{cart.quantity}}</p>
                                    <p class="text-base xl:text-lg font-semibold leading-6 text-gray-800">{{cart.book.price * cart.quantity }} €</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex justify-center md:flex-row flex-col items-stretch w-full space-y-4 md:space-y-0 md:space-x-6 xl:space-x-8">
                        <div class="flex flex-col px-4 py-6 md:p-6 xl:p-8 w-full bg-gray-50 space-y-6   ">
                            <h3 class="text-xl font-semibold leading-5 text-gray-800">Résumer</h3>
                            <div class="flex justify-center items-center w-full space-y-4 flex-col border-gray-200 border-b pb-4">
                                <div class="flex justify-between  w-full">
                                    <p class="text-base leading-4 text-gray-800">Subtotal</p>
                                    <p class="text-base leading-4 text-gray-600">{{app.session.get('cartData').data.subTotalHT|number_format(2, ',', '.')}} €</p>
                                </div>
                                <div class="flex justify-between items-center w-full">
                                    <p class="text-base leading-4 text-gray-800">
                                        Taxe <span class="bg-gray-200 p-1 text-xs font-medium leading-3  text-gray-800">(20%)</span>
                                    </p>
                                    <p class="text-base leading-4 text-gray-600">{{app.session.get('cartData').data.taxe|number_format(2, ',', '.')}} €</p>
                                </div>
                                <div class="flex justify-between items-center w-full">
                                    <p class="text-base leading-4 text-gray-800">Transporteur</p>
                                    <p class="text-base leading-4 text-gray-600">{{carrier.price}} €</p>
                                </div>
                            </div>
                            <div class="flex justify-between items-center w-full">
                                <p class="text-base font-semibold leading-4 text-gray-800">Total</p>
                                <p class="text-base font-semibold leading-4 text-gray-600">{{app.session.get('cartData').data.subTotalTTC|number_format(2, ',', '.')}} €</p>
                            </div>
                        </div>
                        <div class="flex flex-col justify-center px-4 py-6 md:p-6 xl:p-8 w-full bg-gray-50 space-y-6   ">
                            <h3 class="text-xl font-semibold leading-5 text-gray-800">Transporteur</h3>
                            <div class="flex justify-between items-start w-full">
                                <div class="flex justify-center items-center space-x-4">
                                    <div class="w-8 h-8">
                                        <img class="w-full h-full" alt="logo" src="https://i.ibb.co/L8KSdNQ/image-3.png" width="20px"/>
                                    </div>
                                    <div class="flex flex-col justify-start items-center">
                                        <p class="text-lg leading-6 font-semibold text-gray-800">
                                            DPD Delivery
                                            <br />
                                            <span class="font-normal">Delivery with 24 Hours</span>
                                        </p>
                                    </div>
                                </div>
                                <p class="text-lg font-semibold leading-6 text-gray-800">{{carrier.price}} €</p>
                            </div>
                            <form action="{{ path('app_stripe_checkout', {'reference': reference }) }}" method="POST">
                                <div class="w-full flex justify-center items-center">
                                    <button type="submit" id="checkout-button" class="hover:bg-black focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 py-5 w-96 md:w-full bg-gray-800 text-base font-medium leading-4 text-white">
                                        Payer
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="bg-gray-50 w-full xl:w-96 flex justify-between items-center md:items-start px-4 py-6 md:p-6 xl:p-8 flex-col ">
                    <h3 class="text-xl font-semibold leading-5 text-gray-800">Client</h3>
                    <div class="flex  flex-col md:flex-row xl:flex-col justify-start items-stretch h-full w-full md:space-x-6 lg:space-x-8 xl:space-x-0 ">
                        <div class="flex flex-col justify-start items-start flex-shrink-0">
                            <div class="flex justify-center  w-full  md:justify-start items-center space-x-4 py-8 border-b border-gray-200">
                                <img src="https://i.ibb.co/5TSg7f6/Rectangle-18.png" alt="avatar" />
                                <div class=" flex justify-start items-start flex-col space-y-2">
                                    <p class="text-base font-semibold leading-4 text-left text-gray-800">{{app.user.firstName}} {{app.user.lastName}}</p>
                                    <p class="text-sm leading-5 text-gray-600">10 Previous Orders</p>
                                </div>
                            </div>

                            <div class="flex justify-center  md:justify-start items-center space-x-4 py-4 border-b border-gray-200 w-full">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M19 5H5C3.89543 5 3 5.89543 3 7V17C3 18.1046 3.89543 19 5 19H19C20.1046 19 21 18.1046 21 17V7C21 5.89543 20.1046 5 19 5Z" stroke="#1F2937" strokeLinecap="round" strokeLinejoin="round" />
                                    <path d="M3 7L12 13L21 7" stroke="#1F2937" strokeLinecap="round" strokeLinejoin="round" />
                                </svg>
                                <p class="cursor-pointer text-sm leading-5 text-gray-800">{{app.user.email}}</p>
                            </div>
                        </div>
                        <div class="flex justify-between xl:h-full  items-stretch w-full flex-col mt-6 md:mt-0">
                            <div class="flex justify-center md:justify-start xl:flex-col flex-col md:space-x-6 lg:space-x-8 xl:space-x-0 space-y-4 xl:space-y-12 md:space-y-0 md:flex-row  items-center md:items-start ">
                                <div class="flex justify-center md:justify-start  items-center md:items-start flex-col space-y-4 xl:mt-8">
                                    <p class="text-base font-semibold leading-4 text-center md:text-left text-gray-800">Shipping Address</p>
                                    <p class="w-48 lg:w-full xl:w-48 text-center md:text-left text-sm leading-5 text-gray-600">{{address|replace({'[eol]' : '<br/>'})|raw}}</p>
                                </div>
                                <div class="flex justify-center md:justify-start  items-center md:items-start flex-col space-y-4 ">
                                    <p class="text-base font-semibold leading-4 text-center md:text-left text-gray-800">Billing Address</p>
                                    <p class="w-48 lg:w-full xl:w-48 text-center md:text-left text-sm leading-5 text-gray-600">{{address|replace({'[eol]' : '<br/>'})|raw}}</p>
                                </div>
                            </div>
                            <div class="flex w-full justify-center items-center md:justify-start md:items-start">
                                <button class="mt-6 md:mt-0 py-5 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 border border-gray-800 font-medium w-96 2xl:w-full text-base leading-4 text-gray-800">Edit Details</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

{% endblock %}

{% block javascripts %}
<script src="https://js.stripe.com/v3/"></script>
{% endblock %}