{% extends 'base.html.twig' %}

{% block title %}Hello OrderController!{% endblock %}

{% block body %}
<div class="bg-gray-100 dark:bg-gray-800 dark:text-white">
    <div class="body mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="mx-auto max-w-2xl py-16 sm:py-24 lg:max-w-none lg:py-32">

            <div class="grid sm:px-10 lg:grid-cols-2 lg:px-20 xl:px-32">
                    {% if app.session.get('cartData') is defined %}
                <div class="px-4 pt-8">

                        <p class="text-xl font-medium">Résumer commande</p>
                        <p class="text-gray-400">Vérifier vos articles</p>
                        {% for cart in basket.products %} 
                        <div class="mt-8 space-y-3 rounded-lg border bg-white px-2 py-4 sm:px-6">
                            <div class="flex flex-col rounded-lg bg-white sm:flex-row">
                                {% for img in cart.book.images|slice(0,1) %}
                                    <img class="m-2 h-24 w-28 rounded-md border object-cover object-center" src="{{img.url}}" alt="{{cart.book.title}}" />
                                {% endfor %}
                                <div class="flex w-full flex-col px-4 py-4">
                                    <span class="font-semibold">{{cart.book.title}}</span>
                                    <span class="float-right text-gray-400">Qte : {{cart.quantity}}</span>
                                    <p class="text-lg font-bold">{{app.session.get('cartData').data.subTotalHT|number_format(2, ',', '.')}} €<p>
                                </div>
                            </div>
                            <div class="flex flex-col rounded-lg bg-white sm:flex-row">
                                <div class="m-2 h-24 w-28" src="" alt=""></div>
                                <div class="flex w-full flex-col px-4 py-4">
                                    <span class="font-semibold"></span>
                                    <span class="float-right text-gray-400"></span>
                                    <p class="mt-auto text-lg">{{cart.book.description}}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                        <h2 class="">le panier est vide</h2>
                    {% endif %}
                    </div>
                    <div class="mt-10 bg-gray-50 px-4 pt-8 lg:mt-0">
                        <p class="text-xl font-medium">Adresse & Transporteur</p>
                        <p class="text-gray-400">Choisisser votre adresse et votre transporteur</p>
                        <div class="">
                            {{form_start(form, {action: path('app_order_recap')})}}
                                {{form_row(form.address)|replace({'[eol]' : '<br/>'})|raw}}
                                {{form_row(form.carrier)|replace({'[eol]' : '<br/>'})|raw}}
                                {{form_row(form.moreInformation)}}
                            
                        <!-- Total -->
                        <div class="mt-6 border-t border-b py-2">
                            <div class="flex items-center justify-between">
                            <p class="text-sm font-medium text-gray-900">Subtotal</p>
                            <p class="font-semibold text-gray-900">{{app.session.get('cartData').data.subTotalHT|number_format(2, ',', '.')}} €</p>
                            </div>
                            <div class="flex items-center justify-between">
                            <p class="text-sm font-medium text-gray-900">Taxe</p>
                            <p class="font-semibold text-gray-900">{{app.session.get('cartData').data.taxe|number_format(2, ',', '.')}} €</p>
                            </div>
                        </div>
                        <div class="mt-6 flex items-center justify-between">
                            <p class="text-sm font-medium text-gray-900">Total</p>
                            <p class="text-2xl font-semibold text-gray-900">{{app.session.get('cartData').data.subTotalTTC|number_format(2, ',', '.')}} €</p>
                        </div>
                    </div>
                    {{form_end(form)}}
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}

