{% extends 'base.html.twig' %}

{% block title %} {{book.title}} !{% endblock %}

{% block body %}

<div {{ turbo_stream_listen('app_show_book') }}></div>
<div class="mt-20 dark:bg-gray-800 dark:text-white">
  {% for message in app.flashes('success') %}
      <div class="alert alert-success">
          {{ message }}
      </div>
  {% endfor %}
  <div class="pt-6">
    <div aria-label="Breadcrumb">
      <ol role="list" class="mx-auto flex max-w-2xl items-center space-x-2 px-4 sm:px-6 lg:max-w-7xl lg:px-8">
        <li>
          <div class="flex items-center">
            <a href="{{path('app_home')}}" class="mr-2 text-sm font-medium text-gray-900 dark:bg-gray-800 dark:text-white">Accueil</a>
            <svg width="16" height="20" viewBox="0 0 16 20" fill="currentColor" aria-hidden="true" class="h-5 w-4 text-gray-300">
              <path d="M5.697 4.34L8.98 16.532h1.327L7.025 4.341H5.697z" />
            </svg>
          </div>
        </li>
        <li>
          <div class="flex items-center">
            <a href="{{path('app_book')}}" class="mr-2 text-sm font-medium text-gray-900 dark:bg-gray-800 dark:text-white">Livre</a>
            <svg width="16" height="20" viewBox="0 0 16 20" fill="currentColor" aria-hidden="true" class="h-5 w-4 text-gray-300">
              <path d="M5.697 4.34L8.98 16.532h1.327L7.025 4.341H5.697z" />
            </svg>
          </div>
        </li>

        <li class="text-sm">
          <a href="{{path('app_show_book', {'slug': book.slug })}}" aria-current="page" class="font-medium text-gray-500 hover:text-gray-600 dark:bg-gray-800 dark:text-white">{{book.title}}</a>
        </li>
      </ol>
    </div>

    
    <!-- Image gallery -->
    {# <div class="mx-auto mt-6 max-w-2xl sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-3 lg:gap-x-8 lg:px-8">
        {% for img in book.images %}
      <div class="aspect-h-4 aspect-w-3 hidden overflow-hidden rounded-lg lg:block">
        <img src="{{img.url}}" alt="" class="h-full w-full object-cover object-center">
       
      </div>
      <div class="hidden lg:grid lg:grid-cols-1 lg:gap-y-8">
        <div class="aspect-h-2 aspect-w-3 overflow-hidden rounded-lg">
          <img src="{{img.url}}" alt="Model wearing plain black basic tee." class="h-full w-full object-cover object-center">
        </div>
        <div class="aspect-h-2 aspect-w-3 overflow-hidden rounded-lg">
          <img src="{{img.url}}" alt="Model wearing plain gray basic tee." class="h-full w-full object-cover object-center">
        </div>
      </div>
      <div class="aspect-h-5 aspect-w-4 lg:aspect-h-4 lg:aspect-w-3 sm:overflow-hidden sm:rounded-lg">
        <img src="{{img.url}}" alt="Model wearing plain white basic tee." class="h-full w-full object-cover object-center">
      </div> 
      {% endfor %}
    </div> #}

    <!-- Product info -->
    <div class="mx-auto max-w-2xl px-4 pb-16 pt-10 sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-3 lg:grid-rows-[auto,auto,1fr] lg:gap-x-8 lg:px-8 lg:pb-24 lg:pt-16 dark:bg-gray-800 dark:text-white">
      <div class="lg:col-span-2 lg:border-r lg:border-gray-200 lg:pr-8">
        <h1 class="text-2xl font-bold tracking-tight text-gray-800 sm:text-3xl dark:bg-gray-800 dark:text-white">{{book.title}}</h1>
      </div>

      <!-- Options -->
      <div class="mt-4 lg:row-span-3 lg:mt-0">
        <h2 class="sr-only dark:bg-gray-800 dark:text-white">Prix du produit {{book.title}}</h2>
        <p class="text-3xl tracking-tight text-gray-900 dark:bg-gray-800 dark:text-white">{{book.price|number_format(2, ',', '.')}} €</p>

        <!-- Reviews -->
        <div class="mt-6">
          <h3 class="sr-only dark:bg-gray-800 dark:text-white">Reviews</h3>
          <div class="flex items-center">
            <div class="flex items-center">
              <!-- Active: "text-gray-900", Default: "text-gray-200" -->
              {% include 'layout/rating.html.twig' with {'rating': book.getAvgRatings} %}
            </div>
            <p class="sr-only dark:bg-gray-800 dark:text-white">{{book.rating}}</p>
            <a href="#" class="ml-3 text-sm font-medium text-indigo-600 hover:text-indigo-500 dark:bg-gray-800 dark:text-white">{{book.rating}} note</a>
          </div>
        </div>

        <div class="mt-10">
          <!-- Colors -->
          <div>
            <h3 class="text-sm font-medium text-gray-800 dark:bg-gray-800 dark:text-white">Première de couverture</h3>
          </div>
          {# image du produit #}
          <div class="mt-10">
            <img src="{{book.firstCover}}" alt="{{book.title}}" class=""/>
          </div>
          <a href="{{path('app_add_basket', {'id': book.id })}}" alt="ajouter ce livre : {{book.title}}" 
            class="mt-10 flex w-full items-center justify-center rounded-md border border-transparent bg-indigo-600 px-8 py-3 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 dark:bg-gray-800 dark:text-white"
            >Ajouter au panier ce livre : {{book.title}}
          </a>
        </div>
      </div>

      <div class="py-10 lg:col-span-2 lg:col-start-1 lg:border-r lg:border-gray-200 lg:pb-16 lg:pr-8 lg:pt-6">
        <!-- Description and details -->
        <div>
          <h3 class="sr-only">Description</h3>

          <div class="space-y-6">
            <p class="text-base text-gray-900 dark:bg-gray-800 dark:text-white">{{book.introduction}}</p>
          </div>
        </div>

        <div class="mt-10">
          <h3 class="text-sm font-medium text-gray-900 dark:bg-gray-800 dark:text-white">Détails</h3>

          <div class="mt-4">
            <ul role="list" class="list-disc space-y-2 pl-4 text-sm">
              <li class="text-gray-400 dark:bg-gray-800 dark:text-white"><span class="text-gray-600 dark:bg-gray-800 dark:text-white">Nom de l'Editeur : {{book.editor}}</span></li>
              <li class="text-gray-400 dark:bg-gray-800 dark:text-white"><span class="text-gray-600 dark:bg-gray-800 dark:text-white">Nombre de pages : {{book.nbPages}}</span></li>
              <li class="text-gray-400 dark:bg-gray-800 dark:text-white"><span class="text-gray-600 dark:bg-gray-800 dark:text-white">Langue : {{book.langue}}</span></li>
              <li class="text-gray-400 dark:bg-gray-800 dark:text-white"><span class="text-gray-600 dark:bg-gray-800 dark:text-white">Dimension : {{book.dimension}}</span></li>
              <li class="text-gray-400 dark:bg-gray-800 dark:text-white"><span class="text-gray-600 dark:bg-gray-800 dark:text-white">ISBN : {{book.isbn}}</span></li>
            </ul>
          </div>
        </div>

        <div class="mt-10">
          <h2 class="text-sm font-medium text-gray-900 dark:bg-gray-800 dark:text-white">Description</h2>
          <div class="mt-4 space-y-6">
            <p class="text-sm text-gray-600 dark:bg-gray-800 dark:text-white">{{book.description}}</p>
          </div>
          <div class="flex items-center">
            <input id="link-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
            <label for="link-checkbox" class="ml-2 text-sm font-medium text-gray-900 dark:bg-gray-800 dark:text-white">{{book.isInStock}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<section class="bg-white dark:bg-gray-900 py-8 lg:py-16 dark:text-white">
  <div class="max-w-2xl mx-auto px-4">
    <h2>Commentaire de nos clients</h2>
    <div class="flex justify-between items-center mb-6">
      <h2 id="comment-length-refresh" class="text-lg lg:text-2xl font-bold text-gray-900 dark:bg-gray-800 dark:text-white">Discussion ({{book.comments|length}})</h2>
    </div>
    <div id="new-comment-form">
      {{ include('book/_form.html.twig', {form})}}
    </div>
    
    {# {% if book.comments|length > 0 %} #}
    <article class="p-6 mb-6 text-base bg-white rounded-lg dark:bg-gray-900">
  
    {% if book.comments|length > 0 %}
    <div id="comment-length-refresh">
    </div>
    <div id="comment-content-refresh">
      {% for comment in comments %}
        {{ include('book/_comment.html.twig', {comment: comment, book: book}) }}  
        {% else %}
                <p>Il n'y a pas encore de commentaire.</p> 
      {% endfor %}

    </div>
    {% else %}
      <h1>Il n'y a pas de commentaires</h1>
    {% endif %}
    </article>
  </div>
</section>

{% endblock %}

{% block javascripts %}
<script type="module">
var href = window.location.href;
const eventSource = new EventSource("{{ mercure('livres')|escape('js') }}");
eventSource.onmessage = event => {
    // Will be called every time an update is published by the server
    console.log(JSON.parse(event.data));
}
</script>
<script type="application/json" id="mercure-url">
var href = window.location.href;
{{ mercure('livres')|json_encode(constant('JSON_UNESCAPED_SLASHES') b-or constant('JSON_HEX_TAG'))|raw }}
</script>
{# 
<script type="module" id="mercure-url">
{{ mercure('https://172.19.0.2:2019/default')|json_encode(constant('JSON_UNESCAPED_SLASHES') b-or constant('JSON_HEX_TAG'))|raw }}

var slug = window.location.href;

const eventSource = new EventSource("{{ mercure([
    'https://gkbook.traefik.me/livre/{slug}'
])|escape('js') }}");

eventSource.onmessage = event => {
    console.log(JSON.parse(event.data));
}

</script> #}

<script type="module" id="mercure-url">

var href = window.location.href;
console.log('le href: ----- ', href);
const url = new URL("https://localhost:2019/.well-known/mercure");
url.searchParams.append("topic", href);
const eventSource = new EventSource(url);

eventSource.onmessage = e => {
  console.log(e);
}
{# url.searchParams.append("topic", "https://gkbook.traefik.me/users/kirua"); #}
// The URL class is a convenient way to generate URLs such as https://localhost/.well-known/mercure?topic=https://example.com/books/{id}&topic=https://example.com/users/dunglas
{#
const eventSource = new EventSource(url);

// The callback will be called every time an update is published
eventSource.onmessage = (e) => console.log(e); //
  {# const url = new URL('https://mercure.docker.localhost:3200/default');
  url.searchParams.append('topic', 'https://gkbook.traefik.me:443');
  const eventSource = new EventSource(url);
  eventSource.onmessage = e => {
    document.querySelector('h1').insertAdjacentHTML('afterend', `<div>Ping</div>`);
    window.setTimeout(() => {
      const $alert = document.querySelector('.alert')
      $alert.parentNode.removeChild($alert)
    }, 2000)
  } #}
{# document.addEventListener('DOMContentLoaded', async () => {
  let searchParams = new URLSearchParams(window.location.search);
    console.log('window ---- : ', window.location.href);
    
    
   var slug = window.location.href;
        //setHeader('Access-Control-Allow-Origin', 'https://mercure.docker.localhost:3200/.well-known/mercure?topic=livres');
        //setHeader('Content-Type', 'application/ld+json')
        //setHeader('Access-Control-Allow-Headers', 'Accept, Content-Type')
  
  
  const eventSource = new EventSource("{{ mercure(['livres'])|escape('js') }}");
  eventSource.onmessage = event => {
        // Will be called every time an update is published by the server
    event.preventDefault();
    console.log(JSON.parse(event.data));
  }
}); #}
{# 
function cors() {
  const xhttp = new XMLHttpRequest();
  xhttp.onload = (e) => {
    console.log('salut');
  }
  xhttp.open("GET", window.location.href);
  xhttp.send();
} #}

{# fetch('http://mercure.docker.localhost/.well-known/mercure?topic=livres', {
    method: 'GET',
    headers: {
        'Content-Type': 'application/json',
        'Authorization': 'Bearer <token>'
    },
    credentials: 'include', // inclure si vous travaillez avec des cookies/sessions
})
.then(response => response.json())
.then(data => console.log(data))
.catch(error => console.error('Erreur:', error)); #}
</script> 
{% endblock %}