{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}GeekBook Dashboard{% endblock %}
{% block page_actions %}
    <a class="btn btn-primary" href="...">Some Action</a>
{% endblock %}

{% block main %}
<div style="display: flex;">
<div class="chart-container" style="position: relative; height:500px; width:500px; margin: 25px;">
  <canvas id="star" width="500px" height="500px"></canvas>
</div>

<div class="chart-container" style="height:500px; width:500px">
  <canvas id="comments" width="500px" height="500px"></canvas>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('star');
  new Chart(ctx, {
    type: 'bar', // pie, line, bar, 
    data: {
      labels: [{{bookstarName|raw}}, {{bookstarName|raw}}, {{cbookstarName|raw}}, {{cbookstarName|raw}}, {{cbookstarName|raw}}],
      datasets: [{
        label: ['# of Votes'],
        data: [ {{bookstarRating|raw}}, {{bookstarRating|raw}}, {{cbookstarRating|raw}}, {{cbookstarRating|raw}}, {{cbooksComment|raw}}],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });

  const ctxc = document.getElementById('comments');
  new Chart(ctxc, {
    type: 'pie', // pie, line, bar, 
    data: {
      labels: [{{bookstarName|raw}}, {{bookstarName|raw}}, {{cbookstarName|raw}}, {{cbookstarName|raw}}, {{cbookstarName|raw}}],
      datasets: [{
        label: ['# of Votes'],
        data: [ {{bookstarRating|raw}}, {{bookstarRating|raw}}, {{cbookstarRating|raw}}, {{cbookstarRating|raw}}, {{cbooksComment|raw}}],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>
{% endblock %}